name: Build code

on:
  workflow_call:
    
defaults:
  run:
    shell: pwsh

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        name: Checkout
    
      - name: Build
        working-directory: './Src/Solution1/Test Console App/'
        run: dotnet build -c Release 'Test Console App.csproj'
      
      - name: Release
        if: |
          github.event_name != 'merge_group'
          github.event_name != 'pull_request'
        run: echo "Release"

        
